<!DOCTYPE html>
<html lang="ja">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ site.description }}">
	<meta name="author" content="{{ site.author.name }}">

	<title>{{ site.title }} - {{ page.title }} -</title>

	<!-- Customer CSS -->
	<link href="/assets/vendor/css/github-slatethems/stylesheet.css" rel="stylesheet">

	<!-- Bootstrap Core CSS -->
	<link href="/assets/vendor/css/bootstrap/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/assets/vendor/css/bootstrap/one-page-wonder.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Customer CSS -->
	<link href="/assets/css/main.css" rel="stylesheet">

</head>

<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.4&appId=581900438618437";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="page-scroll navbar-brand" href="/#top">{{ site.title }}</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a class="page-scroll" href="/#about">About</a>
					</li>
					<li>
						<a class="page-scroll" href="/#readme">Readme</a>
					</li>
					<li>
						<a href="/documents/">Documents</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<a id="forkme_banner" href="//github.com/UNICORN-Project/UNICORN">View on GitHub</a>
		<a id="zip_download_link" class="zip_download_link" href="//github.com/UNICORN-Project/UNICORN/zipball/master">Download this project as a .zip file</a>
	</nav>

	{% if page.group == 'index' %}<!-- Full Width Image Header -->
	<header id="top" class="header-image">
		<div class="headline">
			<div class="container">
				<h1>{{ site.title }} Framework</h1>
				<h2>{{ site.description }}</h2>
			</div>
		</div>
	</header>{% endif %}

	<!-- Page Content -->
	<div class="{% if page.group == 'documents' %}documents-container {% endif %}container">

{{ content }}

	</div>
	<!-- Page Content -->

	<!-- Footer -->
	<div id="footer_wrap" class="outer">
		<footer class="inner">
			<p class="copyright">UNICORN maintained by <a href="http://saimushi.github.io">saimushi</a> <a href="./licenses.html">and MIT License</a></p>
			<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
		</footer>
	</div>
	<!-- FOOTER  -->

	<!-- jQuery -->
	<script type="text/javascript" src="/assets/vendor/js/jquery/jquery-2.0.3.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="/assets/vendor/js/bootstrap/bootstrap.min.js"></script>

	<!-- Anchor -->
	<script type="text/javascript" src="/assets/vendor/js/jqueryeasing/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/assets/vendor/js/bootstrap/landing-page.js"></script>

	<!-- Marked -->
	<script type="text/javascript" src="/assets/vendor/js/marked/marked.js"></script>

	<!-- Raphael -->
	<script type="text/javascript" src="/assets/vendor/js/raphael/raphael-min.js"></script>


	<!-- Customer JS -->
	<script type="text/javascript" src="/assets/js/main.js"></script>

</body>

</html>
