		<section id="documents">
			<div class="page-header">
				<h1>{{ page.title }}<br/>{% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
			</div>
			{% if page.number == 0 %}
			<div class="row">
				<div class="col-xs-12">
					<h3>API Document</h3>
					<ul>
						<li><a href="https://cdn.rawgit.com/UNICORN-Project/UNICORN/master/docs/server/html/index.html" target="_blank">サーバーサイドPHP</a></li>
						<li><a href="https://cdn.rawgit.com/UNICORN-Project/UNICORN/master/docs/ios/html/index.html" target="_blank">ネイティブiOS</a></li>
						<li><a href="javascript:void(0);" target="_blank">Android(開発中)</a></li>
					</ul>
				</div>
			</div>
			{% endif %}
			<div class="row">
				<div class="col-xs-12">
					{% if page.number == 0 %}<h3>Reference</h3>{% endif %}
					<li><a href="/#readme">利用開始方法</a></li>
					{{ content }}
				</div>
			</div>
		</section>